@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap");

.indo_image {
  height: 30rem;
  width: 70rem;
  position: fixed;
  right: -10px;
  bottom: 10px;
  float: right;
  transform: rotate(5deg);
  z-index: -1;
}

.indo_image_chat {
  height: 30rem;
  width: 70rem;
  position: fixed;

  bottom: 10px;

  transform: scaleX(-1);
  z-index: -1;
}

.home_title {
  position: fixed;
  top: 2rem;
  right: 10rem;
  font-size: 5rem;
  z-index: 1;
  font-family: "Allura", cursive;
  text-align: center;
  z-index: 1;
}

.title_name {
  margin-top: -3rem;
  font-family: "Oswald", sans-serif;
  color: #163a1e;
  font-size: 8rem;
  z-index: 1;
}

.title_container {
  position: relative;
  text-align: justify;
  color: black;
  z-index: 1;
}

.info_text_box {
  position: absolute;
  top: 13rem;
  left: 5rem;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  font-family: "Assistant", sans-serif;
  max-width: 20rem;
}

.sign_in_up_container {
  display: flex;
  flex-direction: row;
  padding: 0.2rem;
  width: 1rem;
}
